<main id="main" class="main">
    <div class="pagetitle">
       <h1>Patients</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Patient</li>
             <li class="breadcrumb-item active">View Appointment</li>
          </ol>
       </nav>
    </div>
    <section class="section">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Appointments</h5>
                  <button type="button" (click)="createNewAppointment()" class="btn btn-primary">Add</button>
                  <!-- <p>Add lightweight datatables to your project.</p> -->
                  <table class="table datatable">
                     <thead>
                        <tr>
                           <!-- <th scope="col">#</th> -->
                           <th scope="col">Name</th>
                           <th scope="col">Mobile</th>
                           <th scope="col">Appointment Date</th>
                           <th scope="col">Enquiry For</th>
                           <th scope="col" colspan="2">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let patient of patientsAppts">
                           <!-- <th scope="row">1</th> -->
                           <td>{{patient.PatientsName}}</td>
                           <td>{{ patient.Mobile }}</td>
                           <td>{{ patient.AppointmentDate  | date:'dd-MMM-yyyy hh:mm a' }}</td>
                           <td>{{patient.EnquiryFor}}</td>
                           <td>
                              <a href="javascript:void(0);" (click)="editPatientDetails(patient)">Edit</a> 
                               &nbsp;|&nbsp;
                              <a href="javascript:void(0);" (click)="convertToPatient(patient)">Convert to Patient</a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </section>
 </main>