<main id="main" class="main">
    <div class="pagetitle">
       <h1>Patients</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Report</li>
             <li class="breadcrumb-item active">Appointments</li>
          </ol>
       </nav>
    </div>
    <section class="section">
      <div class="row">
         <div class="col-lg-12">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Appointments</h5>
                 <form class="row g-3 align-items-end">
                        <div class="col-md-2">
                          <label for="fromDt" class="form-label">From Date</label>
                          <input type="date" class="form-control"
                            id="fromDt" [(ngModel)]="fromDt"  name="fromDt">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                          <label for="toDt" class="form-label">To Date</label>
                          <input type="date" class="form-control"
                            id="toDt" [(ngModel)]="toDt"  name="toDt">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                          <button type="submit" class="btn btn-primary" (click)="getPatientAppointments()"> Submit </button>
                        </div>
                 </form>
                 <br/>

                  <!-- <p>Add lightweight datatables to your project.</p> -->
                  <table class="table datatable">
                     <thead>
                        <tr>
                           <th scope="col">#</th>
                           <th scope="col">Name</th>
                           <th scope="col">Mobile</th>
                           <th scope="col">Appointment Date</th>
                           <th scope="col">Enquiry For</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let patient of patientsAppts; let i = index">
                            <td>{{ i + 1 }}</td>
                           <td>{{patient.PatientsName}}</td>
                           <td>{{ patient.Mobile }}</td>
                           <td>{{ patient.AppointmentDate  | date:'dd-MMM-yyyy hh:mm a' }}</td>
                           <td>{{patient.EnquiryFor}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
<!-- End #main -->